html {
    position: relative;
    min-height: 100%;
    font-weight: 300;
}
body {
    margin: 0px 0px 200px;
    padding-top: 70px;
    overflow-y: scroll;
}
.footer {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: $footer-bg;
    color: #D9DAD9;
    font-size: 14pt;
    border: 1px solid $footer-border-color;
    position: absolute;
    bottom: 0px;
}

//Vertical divider for navbar
li.nav-item.divider {
    border-color: #888;
    border-style: solid;
    @include media-breakpoint-down(md) {
        width: 150px;
        border-width: 0px 0px 2px;
    }
    @include media-breakpoint-up(lg) {
        height: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0px !important;
        border-width: 0px 2px 0px 0px;
    }
}
.dropdown-menu > div.divider {
    border-top: 2px solid #888;
}

.selectize-dropdown {
    width: 100% !important;
    top: 37px !important;
}

.overlay {
    &.overlay-container {
        position: relative;
    }
    &.overlay-body {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 100;
    }
}